*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}
body{
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 10vh;
    background: #090722;
    margin-top: 4rem;
}
.wrapper{
    width: 370px;
    padding: 30px;
    border-radius: 7px;
    background: #fff;
}
.wrapper header {
    font-size: 28px;
    font-weight: 500;
    text-align: center;
    color: #5042e2;
}.wrapper form{
    margin: 40px 0 20px 0;
}
form :where(input, select, button){
    width: 100%;
    outline: none;
    border: none;
    border-radius: 5px;
}
form p{
    font-size: 18px;
    margin-bottom: 5px;
}
form input{
    height: 50px;
    font-size: 17px;
    padding: 0 15px;
    border: 1px solid #999;
}
form input:focus{
    padding: 0 14px;
    border: 2px solid #675AFE;
}
form .drop-list{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 20px;
}
.drop-list .select-box{
    display: flex;
    height: 45px;
    width: 115px;
    justify-content: center;
    border: 1px solid #999;
    border-radius: 5px;
}
.select-box select{
    width: auto;
    font-size: 16px;
    margin: 0 -5px 0 5px;
}
.select-box select::-webkit-scrollbar{
    width: 8px;
}
.select-box select::-webkit-scrollbar-track{
    background: #fff;
}
.select-box select::-webkit-scrollbar-thumb{
    background: #888;
    border-radius: 8px;
    border-right: 2px solid #fff;
}
.select-box img{
    max-width: 25px;
}
.drop-list .icon{
    cursor: pointer;
    font-size: 22px;
    margin-top: 30px;
}
 p{
   color: #5042e2;
}
form .exchange-rate{
    font-size: 17px;
    margin: 20px 0 30px;
}
form button{
     height: 52px;
     color: #fff;
     font-size: 17px;
     cursor: pointer;
     background: #675AFE;
}
form button:hover{

    background: #251c1c;

   color: #e5e4f0;
}
